.App {
  text-align: center;
}
.calculator-app{
  width:320px;
  margin:100px auto;
}
button{
  width:25%;
  height: 80px;
  font-size: 25px;
}
.button-group{
  display: flex;
}
.display{
  background: black;
  color: white;
  padding:20px 10px;
  font-size: 50px;
  text-align: right;
}


